.gradle/
.kotlin/
.cxx/
.externalNativeBuild/
**/build/
local.properties
captures/
.idea/
*.iml
*.apk
*.aab
*.apks
*.idsig
*.hprof
*.jks
*.keystore
key.properties
keystore.properties
secrets.properties
signing.properties
